/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Forum);

 *{
   margin: 0;
   padding: 0;
   font-size: 20px;
   font-family: 'Forum', cursive;
 }

 header, section, footer, aside, nav, article, figure, figcaption, hgroup{
   display: block;
 }

 html, body {
   height: 100%;
 }
 .footer {
   width: 100%;
   background-color: rgb(233, 233, 233);
   height: 3%;
   z-index: 9999;
   position: fixed;
   bottom: 0;
   text-align: center;
 }
