/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Forum);

 *{
   margin: 0;
   padding: 0;
   font-family: 'Forum', cursive;
 }

 header, section, footer, aside, nav, article, figure, figcaption, hgroup{
   display: block;
 }

 html, body {
   height: 100%;
 }
 .footer {
   width: 100%;
   background-color: rgb(233, 233, 233);
   height: 3%;
   z-index: 9999;
   position: fixed;
   bottom: 0;
   text-align: center;
 }

 .backimage2 {
     background-image: url('Fondorojo.png');
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-color:rgba(10, 10, 12, 0.9);
 }

/*Sales*/
.main{
  margin-bottom: 20px;
}

.background-cover{
  top: 0%;
  right: 0;
  bottom: 0;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.background-cover:hover .efect{
top: 0%;
}

.background-cover .efect{
  top: -100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  transition: top 0.2s ease-out 0.4s;
  cursor: pointer;
}

.text-center{
  text-align: center;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;;
}

.top-space{
  margin-top: 10px;
}

.height100{
  height: 100%;
}

.white{
  color: #fff
}

.menu{
  width: 20%;
  height: 60px;
  float: left;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}

.menu:hover{
  background: #e9e9e9;
  color: #000
}

#content{
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
  overflow-y: scroll;
}
