// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.backimage1 {
background-image: url('Alacarta.jpg');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;;
background-size: cover;
background-color:rgba(10, 10, 12, 0.9);
}
