<div class="col-md-4">
  <div class="box">
    <div>

    </div>
    <div>
      <% @products.each do |product|%>
      <h1><%= link_to product.nombre, product%></h1>
      <%end%>
    </div>
  </div>
</div>
