<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-8">
    <center>
      <h1>Hacer Pedido</h1>
    </center>
  </div>
  <div class="col-md-1">
  </div>
</div>  

<%= render 'form' %>

<%= link_to 'Historial de Ventas', sales_path %>
